<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-8 col-md-10">
      <h3>ツールの設定</h3>
      <div class="col-lg-6">
        <%= form_for(@account, {url: products_setup_path, method: 'post'}) do |f| %>
          <p class="lead">利益計算の設定</p>
          <div class="form-group">
            <%= f.label :profit_rate, "新品利益率" %>
            <%= f.text_field :profit_rate, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :used_profit_rate, "中古利益率" %>
            <%= f.text_field :used_profit_rate, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :shipping, "送料" %>
            <%= f.text_field :shipping, class: 'form-control'  %>
          </div>
          <div class="actions">
            <%= f.submit "設定する", {id: "setup_btn", onClick: 'alert("更新しました")'} %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
